<div class="container">
  <header class="header-container">
    <h1 class="title">Exercício Angular 1º Semana</h1>
  </header>

  <main class="main-body">
    <section class="firstp">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum amet soluta maxime consequatur assumenda
        nisi,
        asperiores animi ut accusantium libero eligendi consequuntur a laudantium totam, magni at eveniet? Atque, Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, eum accusamus? Veniam repudiandae qui accusantium.
        Accusamus ratione maiores doloribus porro facere beatae quis reprehenderit repellendus impedit veniam, rerum
        velit. Dolorum!</p>
    </section>

    <section class="secondp">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum amet soluta maxime consequatur assumenda
        nisi,
        asperiores animi ut accusantium libero eligendi consequuntur a laudantium totam, magni at eveniet? Atque, Lorem
        ipsum dolor, sit amet consectetur adipisicing elit. Aliquid, eum accusamus? Veniam repudiandae qui accusantium.
        Accusamus ratione maiores doloribus porro facere beatae quis reprehenderit repellendus impedit veniam, rerum
        velit. Dolorum!</p>
    </section>
  </main>
</div>
